body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
    background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1{
  font-size: 3rem;
  color: #e2dbdb;
}

hr {
    margin: 20px auto;
    color: #fd8230;
    border: 3px solid #fd8230;
    max-width: 65px;
    opacity: 1;  
}

.buffer{
height: 14rem;

}


.btn{
font-weight: 700;
border-radius: 300px;
text-transform: uppercase;
}

.btn-primary{
  background-color: #fd8230;
  border-color: #fd8230 ;
}

.btn-primary:hover{
background-color: #f26507;
border-color: #f26507;
border-width: 4px;

}

.btn-xl{
  padding: 15px 20px;
}

